*.pyc
*.tar.gz
*.log
*.txt
.vscode/
__pycache__/
old_code/
dist/
applications/alkaid/alkaid/__pycache__/__init__.cpython-36.pyc
applications/dev_global/dev_global/__pycache__/__init__.cpython-36.pyc
applications/dist/*.tar.gz
applications/jupiter/jupiter/__pycache__/__init__.cpython-36.pyc
applications/leo/leo/__pycache__/__init__.cpython-36.pyc
applications/polaris/polaris/__pycache__/__init__.cpython-36.pyc
applications/saturn/saturn/__pycache__/__init__.cpython-36.pyc
applications/taurus/taurus/__pycache__/__init__.cpython-36.pyc
applications/venus/venus/__pycache__/__init__.cpython-36.pyc
applications/venus/venus/__pycache__/__init__.cpython-36.pyc
applications/jupiter/jupiter/__pycache__/__init__.cpython-36.pyc
