*.csv
csv/*
applications/csv/*.csv
applications/old_code/*
applications/*/__pycache__/*
applications/__pycache__/*.pyc
applications/dist/*
applications/*.egg-info
applications/*_setup.py
applications/LICENSE
applications/*.swp
applications/*.log
*/*.pyc
