*.pyc
*.tar.gz
*.log
*.txt
.vscode/
__pycache__/
old_code/
dist/
applications/alkaid/alkaid/__pycache__/__init__.cpython-36.pyc
applications/dev_global/dev_global/__pycache__/__init__.cpython-36.pyc
applications/dist/alkaid-1.0.1.tar.gz
applications/dist/dev_global-1.0.3.tar.gz
applications/dist/jupiter-1.5.24.tar.gz
applications/dist/leo-1.0.1.tar.gz
applications/dist/polaris-1.2.6.tar.gz
applications/dist/saturn-1.3.8.tar.gz
applications/dist/taurus-1.1.6.tar.gz
applications/dist/venus-1.8.35.tar.gz
applications/jupiter/jupiter/__pycache__/__init__.cpython-36.pyc
applications/leo/leo/__pycache__/__init__.cpython-36.pyc
applications/polaris/polaris/__pycache__/__init__.cpython-36.pyc
applications/saturn/saturn/__pycache__/__init__.cpython-36.pyc
applications/taurus/taurus/__pycache__/__init__.cpython-36.pyc
applications/venus/venus/__pycache__/__init__.cpython-36.pyc
