<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/page.css"/>
    </head>
    <body>
        <div id="banner" flow="left">
            <img src="static/image/Logo.jpg" alt="logo" height="15%"/>
            <img src="static/image/banner.jpg" alt="banner" width="82%"/>
        </div>
        <div id="warp">
        <ul class="nav">
            <li><a href="">News</a></li>
            <li><a href="{{ link1 }}">Data</a></li>
            <li><a href="">None</a><li>
            <li><a href='http://localhost:8000/ai/'>AI</a></li>
            <li><a href=y'http://localhost:8000/doc/'>Documentation</a></li>
            <li><input type="search"></li>
        </ul>
        </div>
    </body>
</html>
