<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Guest_mail</title>
		<style type="text/css">
			table {background-color: #00cec9}
			td {font-family: Helvetica;color: white;font-size: 15px}
			p {font-family: Lato;color:black;font-size:15px;}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td>Dear my guest:<br/></td>
			</tr>
			<tr>
				<td>
					<div>This is the first mail I send by my quantitive trading system automaticly. <br/>
					I will continue optimize my system to provide a better and better invest suggestion.<br/></div>
				</td>
			</tr>
			<tr>
				<td>Friederich River</td>
			</tr>
		</table>
	</body>
</html>
